
@{
    ViewData["Title"] = "About";
}

<h2 style="text-align:center">About Us</h2>
<div class="row", style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;box-sizing:border-box; margin: 0">
    <div class="column" style="float:left;width:25%;margin-bottom:16px;padding: 0 8px">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
            <img src= "/images/fredrik.jpg" style="width:100%; display:flex">
            <div class="container" style="padding: 0 16px">
                <h2>Fredrik Parkell</h2>
                <p class="title">Studerar på campus i Varberg</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               
                
            </div>
        </div>
    </div>

    <div class="column" style="float:left;width:25%;margin-bottom:16px;padding: 0 8px">
        <div class="card"style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
            <img src="/images/Nils.jpg" style="width:100%; display:flex">
            <div class="container" style="padding: 0 16px">
                <h2>Nils Brufors</h2>
                <p class="title">Studerar på campus i Varberg</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                
            </div>
        </div>
    </div>

    <div class="column" style="float:left;width:25%;margin-bottom:16px;padding: 0 8px">
        <div class="card"style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
            <img src="/images/Vegan.jpg" alt="Vegan" style="width:100%; display:flex">
            <div class="container" style="padding: 0 16px">
                <h2>David Lindgren Kamali</h2>
                <p class="title">Studerar på campus i Varberg</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                
            </div>
        </div>
    </div>
    <div class="column" style="float:left;width:25%;margin-bottom:16px;padding: 0 8px">
        <div class="card"style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
            <img src="/images/Robin.jpg" alt="Robin" style="width:100%; display:flex">
            <div class="container" style="padding: 0 16px">
                <h2>Robin Tranberg</h2>
                <p class="title">Studerar på campus i Varberg</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                
            </div>
        </div>
    </div>
</div>


@*<div class="myContainer" style="display:flex;justify-content:center;align-items:center; text-align:center; padding:20px 20px; grid-gap:5rem;">
    <div style="width:20%;float:left;">
        <p style="font-weight: bold; text-decoration: underline;">Fredrik Parkell</p>
        <table>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <div style="Width: 20%; float: right;">
        <p style="font-weight: bold; text-decoration: underline;">Nils Brufors</p>
        <table>
            <tbody>
            </tbody>
        </table>
    </div>
    <div style="Width: 20%; float: right;">
        <p style="font-weight: bold; text-decoration: underline;">Robin Tranberg</p>
        <table>
            <tbody>
            </tbody>
        </table>
    </div>
    <div style="Width: 20%; float: right;">
        <p style="font-weight: bold; text-decoration: underline;">David Lindgren Kamali</p>
        <table>
            <tbody>
            </tbody>
        </table>
    </div>
</div>*@
