@{
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Kavivanar&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>About Us</h1>
    <main>
        <div class="container">
            <div class="card">
                <h3>Fredrik Parkell</h3>
                <div class="icon">
                    <img src="~/images/fredrik.jpg" alt="">
                </div>
                <div class="content">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Doloremque iste provident architecto dolorem,
                        laborum blanditiis eum corrupti consectetur quas
                        perspiciatis a voluptatem in dolores aspernatur
                        delectus ipsum vero accusantium repellendus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non maxime obcaecati porro cumque impedit. Sed hic ipsa pariatur vero velit itaque ea voluptatibus quaerat, ratione, iure possimus, quo expedita assumenda.
                    </p>
                </div>
                <a class="more"></a>
            </div>
            <div class="card">
                <h3>Nils Brufors</h3>
                <div class="icon">
                    <img src="~/images/Nils.jpg" alt="">
                </div>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Doloremque iste provident architecto dolorem,
                        laborum blanditiis eum corrupti consectetur quas
                        perspiciatis a voluptatem in dolores aspernatur
                        delectus ipsum vero accusantium repellendus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi ea debitis id enim inventore earum delectus esse cum at. Nulla delectus sit beatae ad quidem atque repellendus eos blanditiis fugit?
                    </p>
                </div>
                <a class="more"></a>
            </div>
            <div class="card">
                <h3>Robin Tranberg</h3>
                <div class="icon">
                    <img src="~/images/Robin.jpg" alt="">
                </div>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Doloremque iste provident architecto dolorem,
                        laborum blanditiis eum corrupti consectetur quas
                        perspiciatis a voluptatem in dolores aspernatur
                        delectus ipsum vero accusantium repellendus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aspernatur molestiae odit pariatur deleniti assumenda accusantium fugiat non aut iste perspiciatis possimus minima optio doloribus, deserunt ipsum quia nulla sit.
                    </p>
                </div>
                <a class="more"></a>
            </div>
            <div class="card">
                <h3>David Lindgren Kamali</h3>
                <div class="icon">
                    <img src="~/images/Vegan.jpg" alt="">
                </div>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Doloremque iste provident architecto dolorem,
                        laborum blanditiis eum corrupti consectetur quas
                        perspiciatis a voluptatem in dolores aspernatur
                        delectus ipsum vero accusantium repellendus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quod ipsam pariatur accusantium doloribus enim, error esse. Quisquam, asperiores dolorum sequi veniam rerum velit accusamus facilis ab dicta. Accusantium, quo!
                    </p>
                </div>
                <a class="more"></a>
            </div>
        </div>
    </main>
    <script>
        let more = document.querySelectorAll('.more');
        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener('click', function () {
                more[i].parentNode.classList.toggle('active')
            })
        }
    </script>
</body>
</html>