@model IEnumerable<BookReviewGrupp4.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>



</div>


<p>Top rated books</p>
<table class="table">
<tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>

                <a asp-action="Details" asp-route-id="@book.BookId" asp-controller="Books">@Html.DisplayFor(modelItem => book.Name)</a>
            </td>
        </tr>
    }


</tbody>
</table>
